<div class="container">
    <div class="container mt-4">
        <h2 class="text-center mb-4">Online Payment</h2>
        <p class="text-center">Enter your payment details below:</p>
        <form (submit)="pay($event)">
            <div id="card-element" class="form-control mb-3"></div>
            <button type="submit" class="btn btn-primary" [disabled]="loading">
          {{ loading ? "Processing..." : "Pay with Card" }}
        </button>
            <p *ngIf="message" class="text-danger">{{ message }}</p>
        </form>
    </div>
</div>

<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Success</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>The Product will be delivered to your address.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>